body{
    background-image: url("../images/dark-paths.png");
    
}

.topic{
    margin:10px;
}

.search-container{
    border-left:2pt solid grey;
    border-top:2pt solid grey;
    padding-bottom:5px;
    padding-top:5px;
    border-top-left-radius: 5px;
    background-image: url("../images/concrete_seamless.png");
}

.radio-container{
    border-right:2pt solid grey;
    border-top:2pt solid grey;
    padding-bottom:5px;
    padding-top:20px;
    border-top-right-radius: 5px;
    background-image: url("../images/concrete_seamless.png");
}

.gif-container{
    float: left;
    margin:5px;
}

#subject-box{
    width:100%;
    margin-bottom:10px;
    border-radius:2px;
}

#gifs-main{
    padding-top:15px;
    border-right:2pt solid grey;
    border-left:2pt solid grey;
    border-bottom:2pt solid grey;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    background-image: url("../images/concrete_seamless.png");
}

#buttons-main{
    background-image: url("../images/concrete_seamless.png");
    border-right:2pt solid grey;
    border-left:2pt solid grey;
}
